<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being-->
<!--  enabled. Please enable-->
<!--  Javascript and reload this page!</h2></noscript>-->
<!--<div id="main-content" class="container">-->

<!--  <button (click)="refreshCoordinates()" class="btn btn-default" type="submit">Send</button>-->

<!--</div>-->
<!--<router-outlet></router-outlet>-->
